$half-width: 50%;
$full-width: 100%;

@mixin tamanhoPost($half-post: true) {
    @include for-phone-only{
        width: 100%;
    }
    @if $half-post {
        width: $half-width;
    }@else {
        width: $full-width;
    }
}

@mixin tamanhoFonte($half-font: true) {
    @include for-phone-only{
        @include fontSize(14px);
    }
    @if $half-font{
        @include fontSize(16px);
    }@else{
        @include fontSize(24px);
    }
}

.collection {
    flex-wrap: wrap;
    align-items: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial;
    @include flx(justify-content, center);
    @include for-phone-only {   
       width: 90%;
   }

   &__post {
       align-items: center;
       flex-wrap: wrap;
       @include flx(justify-content, center);
       @include tamanhoPost($half-post: false);
       @include tamanhoFonte($half-font: false);

       &.half{
           @include tamanhoPost($half-post: true);
           @include tamanhoFonte($half-font: true);
       }
   }

   &__figure {
       width: 50%;
   }

   &__img {
       width: 100%;
   }

   &__about {
       @include flx(justify-content, center);
       flex-wrap: wrap;
       align-items: center;
       width: 50%;
       text-align: center;
   }

   &__title {
       color: $cinza-escuro;
       text-decoration: unset;
       letter-spacing: 1px;
       width: 100%;
       margin: 10px 0;

       &:hover {
           color: $rouxo;
           text-decoration: underline;
       }
   }

   &__date {
       @extend %sem-margem-top, %sem-margem-bottom, %margem-padrao-left, %margem-padrao-right;
       @include fontSize(12px);
       font-style: italic;
       width: 20%;
       @include for-phone-only {
           @include fontSize(10px);
       }
       @include for-tablet-only {   
           width: 30%;
       }
   }

   &__tag {
       @include fontSize(14px);
       width: 50px;
       padding: 5px 7px;
       color: $rouxo;
       border: 1px solid $rouxo;
       @extend %sem-margem-top, %sem-margem-bottom, %margem-padrao-left, %margem-padrao-right;
       @include for-phone-only {   
           width: 30px;
           @include fontSize(12px);
       }
       @include for-tablet-only {   
           width: 35px;
           @include fontSize(12px);
       }
   }

   &__breadcrumb {
       @include flx(justify-content, center);
       background-color: $cinza-claro;
       text-align: center;
       padding: 30px;
       width: 100%;
       align-items: center;
   }

   .breadcrumb {
       &__link {
           @include fontSize(18px);
           text-decoration: unset;
           color: $cinza-escuro;
           letter-spacing: 1px;

           &:hover {
               color: $rouxo;
               text-decoration: underline;
           }
       }

       &__img {
           width: 14px;
           margin: 10px;
       }
   }
}