
.contact{
    @include flx(align-items, center);
    flex-wrap: wrap;
    width: 100%;

    &__figure{
        width: 50%;
        @include tamanhoPost($half-post: true);

        @include for-phone-only{
            @include tamanhoPost($half-post:false);
        }
    }

    &__img{
        width: 100%;
    }

    &__info{
        width: 50%;
        @include flx(align-items, center);
        flex-direction: column;
        @include tamanhoPost($half-post: true);

        @include for-phone-only{
            @include tamanhoPost($half-post:false);
        }        
    }

    $x:1;
        @while $x < 5 {
        &__p-#{$x}{
            @include fontSize(40px/$x);
            padding-top: 5px*$x;
        }
        $x: $x + 1;
    }
}