.rodape{
    @include flx(align-items, center);
    bottom: 0;
    flex-direction: column;
    gap: 1rem;
    left: 50%;
    padding: 1rem 0;
    position: relative;
    transform: translateX(-50%);

    &__img{
       max-width: 7rem;
    }
}
