.about{
    @include flx(align-items, center);
    border: 1px solid $cinza-claro;
    flex-direction: column;
    margin: 0 auto;
    width: 80%;
    @include for-phone-only{
        width: 90%;
    }
    @include for-tablet-only{
        width: 90%;
    }

    &__content{
        @include flx(align-itens, center);
        flex-direction: column;
        width: 100%;
    }
    
    &__title{
        @include flx(align-items, center);
        background-color: $cinza-claro;
        flex-direction: column;
        gap: 1rem;
        padding: 1.5rem 0;
        width: 100%;
    }

    &__h1{
        @include titulo;
    }

    .breadcrumb{
        @include flx(justify-content, center);
        gap: .6rem;
        width: 100%;

        &__link{
            color: $cinza-escuro;
            @extend %no-decotation;
        }

        &__img{
            width: .7rem;
        }

    }

    &__img{
        width: 100%;
    }

    &__intro{
        @include paragrafos;
        text-align: center;
        max-width: 45rem;
        margin: 2.5rem auto;
        padding: 0 1rem;
    }

    &__split{
        @include flx(align-items, center);
        @include for-phone-only{
            flex-wrap: wrap;
        }
    }

    &__img-descricao{
        width: $largura-img;
        @include for-phone-only{
            margin: 0 auto;
        }
    }

    &__p{
        padding: 1rem;
        @include paragrafos;
    }
}